@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mx-auto">
    <form class="max-width mx-auto">
    <h1 class="display-4 text-center">Adicionar Contato</h1>
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome completo</label>
            <input type="text" class="form-control" id="Nome" aria-describedby="Nome" placeholder="Digite seu nome completo">
            @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="Email" placeholder="Digite seu E-mail">
        </div>
        <div class="mb-3">
            <label for="Telefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="Telefone" placeholder="Digite seu Telefone">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary " title="Enviar">Enviar</button>
            <a class="btn btn-secondary" role="button" title="Voltar" asp-controller="Contato" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
