@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  font-size: 14px;
  position: relative
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #202024;
    color: white;
    height: 100vh;
}

.max-width {
    max-width: 700px;
}

td[contenteditable=true]:focus{
   /* background-color: #808080;
    color: black;*/
}

.field-validation-error {
    color: #dc3545;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.hover:hover {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow;
    cursor: pointer;
}

#table-contatos_wrapper {
    margin: 10px 0 0 0;
}

#table-contatos_paginate > a, #table-contatos_next {
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: .25rem;
}